{% extends "base.html" %}

{% block title %}
    {{ product }} | {{ block.super }}
{% endblock %}

{% load thumbnail %}

{% block container %}




<div class="banner-bootom-w3-agileits">
	<div class="container">
	     <div class="col-md-4 single-right-left ">
			<div class="grid images_3_of_2">
				<div class="flexslider">

					<ul class="slides">
						<li data-thumb="{{ product.image|thumbnail_url:'product_image' }}">
							<div class="thumb-image"> <img src="{{ product.image|thumbnail_url:'product_image' }}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						{% if product.image1 %}
						<li data-thumb="{{ product.image1|thumbnail_url:'product_image' }}">
							<div class="thumb-image"> <img src="{{ product.image1|thumbnail_url:'product_image' }}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						{% endif %}
						{% if product.image2 %}
						<li data-thumb="{{ product.image2|thumbnail_url:'product_image' }}">
							<div class="thumb-image"> <img src="{{ product.image2|thumbnail_url:'product_image' }}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						{% endif %}
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<form action="{{ product.get_absolute_url }}" method="post" id="form_kart">
			{% csrf_token %}
			<div class="col-md-8 single-right-left simpleCart_shelfItem">
				<h3>{{ product  }}</h3>
				<p><span class="item_price">R${{ product.price }}</span></p>
				<div class="row">
					{% if product.tamanho %}
					<div class="color-quality col-md-3">
						<div class="color-quality-right">
							<h5>Tamanho :</h5>
							<select id="tamanho" onchange="change_country(this.value)" class="frm-field required sect" name="tamanho">
								{% for tamanho in product.tamanho_list %}
								<option>{{ tamanho }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					{% endif %}
					{% if product.cor %}
					<div class="color-quality">
						<div class="color-quality-right">
							<h5>Cor :</h5>
							<select id="cor" onchange="change_country(this.value)" class="frm-field required sect" name="cor">
								{% for cor in product.cor_list %}
								<option>{{ cor }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4">
			<br>
			<a  id="submit_form" class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
			  Adicionar ao carrinho
			</a>
		</div>
	    <div class="clearfix"> </div>
		</form>
	        <div class="responsive_tabs_agileits">
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
							<li>Descrição</li>
						</ul>
					<div class="resp-tabs-container">
					<!--/tab_one-->
					   <div class="tab1">

							<div class="single_page_agile_its_w3ls">
							   <p>{{ product.descricao_completa|linebreaks }}</p>
							</div>
						</div>
						<!--//tab_one-->
					</div>
				</div>
			</div>
	<!-- //new_arrivals -->
	  	<!--/slider_owl-->



 </div>




{% endblock %}


{% block javascript %}
    $('.flexslider').flexslider({
			animation: "slide",
			controlNav: "thumbnails"
	});

	$("#submit_form").on("click",function(e){
  		$('#form_kart').submit();
	});



{% endblock %}